<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTTP SlowResponse Tester</title>
</head>
<body>
    <h1>About</h1>
    <p>This is a simple endpoint for testing HTTP async response code. 
    This server will wait <em>n</em> milliseconds before returning a 
    regular text response or javascript.</p>

   <h2>Text response - regular text/plain response.</h2>
   <ul>
       <li><a href="/timeout/0">timeout 0ms</a></li>
       <li><a href="/timeout/10">timeout 10ms</a></li>
       <li><a href="/timeout/100">timeout 100ms</a></li>
       <li><a href="/timeout/1000">timeout 1000ms</a></li>
       <li><a href="/timeout/5000">timeout 5000ms</a></li>
       <li><a href="/timeout/10000">timeout 10000ms</a></li>
   </ul>
        
    <h2>AJAX (JSONP) Response</h2> 
    <p>Use these in a &lt;script&gt; tag. These are good 
    for testing w/ a JSONP style request so they work across domains.</p>
    
    <p>You can specify your own callback function as the second parameter. 
    By default it is <code>alert()</code>.</p>

    <ul>
       <li><a href="/timeout.js/0/alert">timeout.js 0ms</a></li>
       <li><a href="/timeout.js/10/my.fn">timeout.js 10ms</a></li>
       <li><a href="/timeout.js/100/a.b.c.d">timeout.js  100ms</a></li>
       <li><a href="/timeout.js/1000">timeout.js  1000ms</a></li>
       <li><a href="/timeout.js/5000">timeout.js  5000ms</a></li>
       <li><a href="/timeout.js/10000">timeout.js  10000ms</a></li>
   </ul>

   <h2>Show it in Action</h2>
   <p>Here is a <a href="/test">test</a> showing lots of async ajax requests 
   using the API and returning at different times.</p>

    <a href="https://github.com/mostlygeek/SlowResponse"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>    
</body>
</html>
